
@{
    ViewBag.Title = "LMS::Dashboard";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Landing Page</li>
</ol>


